@font-face {
  font-family: Montserrat-Regular;
  src: url("../assets/fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: Montserrat-Bold;
  src: url("../assets/fonts/Montserrat/Montserrat-Bold.ttf");
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: var(--full);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  width: var(--full);
  height: var(--full);
  font-family: Montserrat-Regular;
}

body {
  background-color: var(--white);
  color: var(--txt-light);
  transition: background-color 0.3s ease;
}

html._fixed,
body._fixed {
  touch-action: none;
  -webkit-overflow-scrolling: none;
  overflow: hidden;
  overscroll-behavior: none;
}

#root {
  max-width: var(--wrapper-max-width);
  min-width: var(--wrapper-min-width);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.2;
  margin: 0;
}

h1,
h2,
h3,
h5,
h4,
h6 {
  font-family: Montserrat-Bold, sans-serif;
}

p {
  font-size: 16px;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  outline: none !important;
  font: inherit;
  color: inherit;
  cursor: pointer;
  border: 0;
}

.btn-primary {
  background: var(--main);
  border: 1px solid var(--main);
  color: var(--white);
  font-family: Montserrat-Bold, sans-serif;
  font-size: 14px;
  font-weight: 700;
  transition: background 0.2s ease;

  &:active {
    background: var(--btn);
    border: 1px solid var(--btn);
  }

  &:focus {
    background: var(--btn);
    border: 1px solid var(--btn);
  }
  &:hover {
    background: var(--hover);
    border: 1px solid var(--hover);
    transition: background 0.2s ease;
  }
  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
    transition: background 0.2s ease;
  }
}

.btn-block {
  width: 100%;
  height: 46px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .backdrop {
    position: fixed;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: all 0.4s ease-in-out;
    // blur property
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

    &.show {
      visibility: visible;
      pointer-events: all;
      opacity: 1;
    }
  }
}

.wrapper {
  width: 67%;
  margin: 0 auto;
  height: 100%;
  max-width: var(--wrapper-max-width);

  @media (max-width: 1387px) {
    width: 90%;
  }

  @media (max-width: 1315px) {
    width: 95%;
  }

  @media (max-width: 1264px) {
    justify-content: space-between;
  }
}
