:root {
  // --main-color:
  --main: #e26559;
  --btn: #883d35;
  --hover: #b55147;
  --white: #ffffff;
  --black: #3c4043;
  --grey: #636669;
  --light-grey: #d8d9d9;
  --progress-grey: #ebecec;

  --full: 100%;

  --wrapper-max-width: 2620px;
  --wrapper-min-width: 240px;
}
